@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    padding: 10px;
    font-size: 2rem;
}

body {
    background-color: brown;
    text-align: center;
    font-family: 'Indie Flower', sans-serif;
}

.result{
    font-size: 2rem;
    color: blanchedalmond;
}

.score-count {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 2fr);
    font-size: 2rem;
}

.score-result{
    color: green;
    font-size: 3rem;
}

.selections {
    padding: 20px;
    text-align: center;
    
}

.selection {
    padding: 5px;
   
    border-radius: 50%;
    margin: 0 20px;
    opacity: 0.8;
    display: inline-block;
    background-color: antiquewhite;
    transition: 200ms; 
}

.selection:hover{
    cursor: pointer;
    transform:scale(0.8);
    border: 4px solid orangered;
}

.result-selection-winner{
    opacity: 0.5;
}

.result-selection{
    opacity: 1;
    font-size: 1.5rem;
}

#play-message{
    font-size: 1rem;
    color: white;
}